.newArrivalsWrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 62px 0;
  background-color: #f8f3f4;
}

.newArrivals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 400px) {
  .newArrivals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.newArrivals h1 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  color: #f16d7f;
}

.newArrivals nav {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #636363;
}

.newArrivals nav a {
  text-decoration: none;
}

.newArrivals nav a:hover {
  color: #f16d7f;
}

.newArrivals nav a:last-child {
  font-weight: 700;
  color: #f16d7f;
}

.benefits {
  padding-top: 90px;
  padding-bottom: 110px;
  background-color: #222224;
  text-align: center;
}

.benefits .row {
  width: 100%;
  margin: 0;
}

.benefits img {
  height: 42px;
}

.benefits h2 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin: 30px 0 20px 0;
}

.benefits p {
  font-size: 15px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  text-align: center;
}

.benefits .col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
}

@media (max-width: 600px) {
  .gridContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.rigth-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 800px) {
  .rigth-top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.feature {
  margin: 100px 0;
}

.card:not(:last-child) {
  margin-bottom: 15px;
}

.navTitle {
  border-left: 5px solid red;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-left: 5px solid #f16d7f;
  text-transform: uppercase;
  color: #f16d7f;
  cursor: pointer;
  background-size: 10px;
  line-height: 37px;
  padding-left: 22px;
  padding-right: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 37px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 14px;
}

.navText a {
  font-weight: 400;
  color: #6f6e6e;
}

/* trending*/
.trending {
  color: #6f6e6e;
  font-size: 14px;
}

.trending__params {
  line-height: 26px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.trending__params span {
  color: #dfdfdf;
  padding: 0 10px;
}

.sizeWrap {
  line-height: 26px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #6f6e6e;
  padding-right: 25px;
}

.product-card-title {
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 11px;
  color: #6f6e6e;
}

.slideRange input {
  width: 100%;
}

.productsPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 26px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #6f6e6e;
}

.sort {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorterUnit {
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
  margin-right: 20px;
}

.sorterUnit label {
  margin-right: 10px;
}

.sorterUnit select {
  border: none;
  outline: none;
  padding-bottom: 2px;
  color: #6f6e6e;
  background: url(../images/caret-down-solid.svg) no-repeat right 5px center;
  background-size: 9px;
}

.productsWrap {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 12px;
  justify-items: center;
}

.productUnit {
  margin-bottom: 30px;
}

.productName {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
  margin: 15px 0;
}

.productPrice {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.view {
  line-height: 44px;
  border-radius: 3px;
  border: 1px solid #f16d7f;
  text-align: center;
  color: #f16d7f;
  background: none;
  cursor: pointer;
}

.productFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerPagination {
  border-radius: 3px;
  border: 1px solid #ebebeb;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerPagination a {
  text-decoration: none;
  background-color: transparent;
  color: #6f6e6e;
}
/*# sourceMappingURL=product.css.map */