$cardColor: #f16d7f;

.newArrivalsWrap {
  box-sizing: border-box;
  padding: 62px 0;
  background-color: #f8f3f4;
}
.newArrivals {
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: space-between;

  @media (max-width: 400px) {
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    color: #f16d7f;
  }
  nav {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #636363;

    a {
      text-decoration: none;
      &:hover {
        color: #f16d7f;
      }
      &:last-child {
        font-weight: 700;
        color: #f16d7f;
      }
    }
  }
}

// benefits
.benefits {
  padding-top: 90px;
  padding-bottom: 110px;
  background-color: #222224;
  text-align: center;

  .row {
    width: 100%;
    margin: 0;
  }
  img {
    height: 42px;
  }
  h2 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    margin: 30px 0 20px 0;
  }
  p {
    font-size: 15px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    text-align: center;
  }
  .col {
    box-sizing: border-box;
    padding: 20px;
  }
}

// feature
.gridContainer {
  display: grid;
  grid-template-columns: 25% 75%;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
.rigth-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.rigth-sort {
}

.feature {
  margin: 100px 0;
}
.card:not(:last-child) {
  margin-bottom: 15px;
}
.navTitle {
  border-left: 5px solid red;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-left: 5px solid $cardColor;
  text-transform: uppercase;
  color: $cardColor;
  cursor: pointer;
  background-size: 10px;
  line-height: 37px;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  justify-content: space-between;
}
.navText {
  display: flex;
  flex-direction: column;
  line-height: 37px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 14px;

  a {
    font-weight: 400;
    color: #6f6e6e;
  }
}
/* trending*/
.trending {
  color: #6f6e6e;
  font-size: 14px;

  &__params {
    line-height: 26px;
    font-weight: 400;
    box-sizing: border-box;

    span {
      color: #dfdfdf;
      padding: 0 10px;
    }
  }
}

.sizeWrap {
  line-height: 26px;
  font-weight: 400;
  box-sizing: border-box;
  color: #6f6e6e;
  padding-right: 25px;
}
//
.product-card-title {
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 11px;
  color: #6f6e6e;
}
// slider
.slideRange {
  input {
    width: 100%;
  }
}
.productsPrice {
  display: flex;
  justify-content: space-between;
  line-height: 26px;
  font-weight: 400;
  box-sizing: border-box;
  color: #6f6e6e;
}

.sort {
  margin-top: 40px;
  display: flex;
}
.sorterUnit {
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
  margin-right: 20px;

  label {
    margin-right: 10px;
  }

  select {
    border: none;
    outline: none;
    padding-bottom: 2px;
    color: #6f6e6e;
    background: url(../images/caret-down-solid.svg) no-repeat right 5px center;
    background-size: 9px;
    // padding-right: 20px;
  }
}

.productsWrap {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 12px;
  justify-items: center;
}
.productUnit {
  margin-bottom: 30px;
}
.productName {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
  margin: 15px 0;
}
.productPrice {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.view {
  //   width: 150px;
  line-height: 44px;
  border-radius: 3px;
  border: 1px solid #f16d7f;
  text-align: center;
  color: #f16d7f;
  background: none;
  cursor: pointer;
}
.productFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerPagination {
  border-radius: 3px;
  border: 1px solid #ebebeb;
  //   width: 261px;
  height: 44px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    text-decoration: none;
    background-color: transparent;
    color: #6f6e6e;
  }
}
/*animated*/

.box {
  position: relative;
}
.box::after,
.box::before {
  content: '';
  position: absolute;
  opacity: 1;
  transition: all 0.4s ease-out;
  top: 4%;
  bottom: 32%;
  left: 1rem;
  right: 1rem;
}
.box::before {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  transform: scale(0, 1);
}
.box::after {
  border-left: 2px solid red;
  border-right: 2px solid red;
  transform: scale(1, 0);
}
.box:hover::before {
  background: rgba(0, 0, 0, 1);
  transform: scale(1.05, 1);
}
.box:hover::after {
  transform: scale(1, 1.05);
}
.box .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  color: white;
  opacity: 0;
}
.box:hover .content {
  opacity: 1;
}
.box .content h*,
.box .content p {
  padding: 10px;
  font-size: 24px;
}
.box:hover img {
  opacity: 0.5;
}
