.newArrivalsWrap {
  box-sizing: border-box;
  padding: 62px 0;
  background-color: #f8f3f4;
}
.newArrivals {
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: space-between;

  @media (max-width: 400px) {
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    color: #f16d7f;
  }
  nav {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #636363;

    a {
      text-decoration: none;
      &:hover {
        color: #f16d7f;
      }
      &:last-child {
        font-weight: 700;
        color: #f16d7f;
      }
    }
  }
}
/* modal*/

.modelWrap {
  .modelSlider {
    position: relative;

    img {
      min-height: 777px;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }

    .modelSliderLeftArrow,
    .modelSliderRightArrow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: calc(50% - 47px / 2);
      width: 47px;
      height: 47px;
      color: #fff;
      background: #d8d8d8;
      cursor: pointer;
    }
    .modelSliderRightArrow {
      right: 0;
    }
  }

  .modelDataWrap {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eaeaea;
    padding-top: 73px;
    padding-bottom: 122px;
    position: relative;
    top: -86px;
    background: #fff;

    .modelData {
      width: 620px;
      padding: 15px;
      box-sizing: border-box;
      @media (max-width: 650px) {
        width: auto;
      }

      .modelHeader {
        width: 148px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        text-transform: uppercase;
        color: #f16d7f;
        font-size: 14px;
        font-weight: 900;
        padding-bottom: 15px;
        border-bottom: 1px solid #eaeaea;
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -2px;
          left: calc(50% - 64px / 2);
          width: 64px;
          height: 3px;
          background-color: #f16d7f;
        }
      }

      .modelProductHeader {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 900;
        color: #4d4d4d;
        margin-top: 17px;
        text-align: center;
        margin-bottom: 67px;
      }

      .modelProductDesc {
        color: #5e5e5e;
        font-weight: 300;
        text-align: justify;
      }

      .modelProductDetails {
        margin-top: 28px;
        margin-bottom: 37px;
        display: flex;
        justify-content: center;
        font-weight: 700;
        text-transform: uppercase;

        > div:first-child {
          margin-right: 44px;
        }

        .modelProductParam {
          color: #b9b9b9;
        }

        .modelProductValue {
          color: #2f2f2f;
        }
      }

      .modelProductPrice {
        color: #f16d7f;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        padding-bottom: 43px;
        margin-bottom: 63px;
        border-bottom: 1px solid #eaeaea;
      }

      .modelProductOrder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 537px;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 587px) {
          width: auto;
        }

        @media (max-width: 493px) {
          flex-direction: column;
        }

        &Unit {
          label {
            color: #2f2f2f;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 16px;
            display: block;
          }

          select,
          input {
            width: 144px;
            height: 35px;
            display: block;
            border: 1px solid #eaeaea;
            padding: 8px 10px;
            font-size: 13px;
            color: #bcbcbc;
            outline: none;

            @media (max-width: 493px) {
              width: 77%;
            }
          }

          select {
            -moz-appearance: window;
            -webkit-appearance: none;
          }

          .modelProductSelectWrap {
            position: relative;

            i {
              color: #bcbcbc;
              position: absolute;
              right: 8px;
              top: 12px;
              display: block;
              font-size: 12px;
            }

            .modelProductColorValue {
              position: absolute;
              width: 12px;
              height: 12px;
              background: #f16d7f;
              top: 11px;
              left: 14px;
            }

            .modelProductColor {
              padding-left: 37px;
            }
          }

          input {
            box-sizing: border-box;
          }
        }

        button {
          width: 100%;
          border: 1px solid #f16d7f;
          background: #ffffff;
          margin-top: 28px;
          padding: 15px;
          color: #f16d7f;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

.alsoLike {
  padding-right: 0;
  padding-left: 0;

  .alsoLikeHeader {
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
  }

  .featuredItems {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 600px) {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }
  }

  .featuredItem {
    width: 264px;
    height: 370px;
  }

  .featuredItem:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }

  .featuredItem:nth-child(n + 5) {
    margin-top: 27px;
  }

  .featuredImgWrap {
    min-height: 280px;
    position: relative;
  }

  .featuredBuy {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
  }

  .featuredItem:hover .featuredBuy {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .featuredBuy button {
    padding: 15px;
    border: 1px solid #ffffff;
    background: none;
    color: white;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .featuredBuy button img {
    margin-right: 10px;
  }

  .featuredProduct {
    width: 100%;
    display: block;
    height: inherit;
    object-fit: cover;
    object-position: center center;
  }

  .featuredNameAndPrice {
    padding: 15px;
  }

  .featuredItemName {
    margin-bottom: 15px;
    font-size: 13px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 700;
    max-height: 2.4em;
    overflow: hidden;
  }

  .featuredItemPrice {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
