.newArrivalsWrap {
  box-sizing: border-box;
  padding: 62px 0;
  background-color: #f8f3f4;
}
.newArrivals {
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: space-between;

  @media (max-width: 400px) {
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    color: #f16d7f;
  }
  nav {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #636363;

    a {
      text-decoration: none;
      &:hover {
        color: #f16d7f;
      }
      &:last-child {
        font-weight: 700;
        color: #f16d7f;
      }
    }
  }
}
/* ProductDetails*/

.ProductDetails {
  margin-top: 90px;
}

.ProductDetails__title {
  display: grid;
  grid-template-columns: 5fr repeat(5, 1fr);
  gap: 20px;
  text-transform: uppercase;
  padding-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #222222;
  & > div {
    align-self: center;
  }
  @media (max-width: 770px) {
    display: none;
  }
}

.ProductDetails__title :first-child {
}

.ProductDetails__title div:not(:first-child) {
  //   width: 78px;
  text-align: center;
}

.ProductDetails .shoppingRow {
  display: grid;
  grid-template-columns: 5fr repeat(5, 1fr);
  gap: 20px;
  border-bottom: 1px solid #eaeaea;
  padding: 30px 0;
  box-sizing: border-box;

  @media (max-width: 770px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 440px) {
    grid-template-columns: 1fr;
    justify-items: flex-start;
  }
}

.ProductDetails .shoppingRow__detail {
  display: flex;
  //   width: 430px;
  //   flex-grow: 0;
}

.ProductDetails .shoppingRow__detail img {
  margin-right: 21px;
}

.ProductDetails .shoppingRow__detail h1 {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.ProductDetails .shoppingRow__detail p {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757;
}

.ProductDetails .shoppingRow__detail p span {
  font-weight: 300;
  color: #6f6e6e;
}

.ProductDetails .size {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
  //   justify-content: flex-start;

  & > span {
    font-weight: 700;
    font-size: 14px;
    margin-right: 15px;

    @media (min-width: 770px) {
      display: none;
    }
  }
}

.ProductDetails .productQty input {
  text-align: center;
  height: 30px;
  width: 54px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

/* shopping*/

.shoppingBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #4a4a4a;
  margin-top: 51px;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.shoppingBtn button {
  padding: 20px 40px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

/* shipping  */

.shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;

  @media (max-width: 980px) {
    flex-direction: column;
  }
}

.shipping > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.shippingAdress {
  width: 355px;
}

.shippingAdress select {
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 100%;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding: 13px;
  font-family: inherit;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.shippingAdress input {
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 100%;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding: 13px;
  font-family: inherit;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.shippingAdress button {
  width: 120px;
  padding: 12px 15px;
  border: 1px solid #eaeaea;
  background: white;
  font-family: inherit;
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 11px;
}

.shippingDiscount {
  width: 355px;
}

.shippingDiscount label {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 24px;
}

.shippingDiscount input {
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 100%;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding: 13px;
  font-family: inherit;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 38px;
}

.shippingDiscount button {
  width: 120px;
  padding: 12px 15px;
  border: 1px solid #eaeaea;
  background: white;
  font-family: inherit;
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 11px;
}

.shippingTotal {
  background-color: #f5f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.shippingTotal__sub {
  margin-bottom: 14px;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}

.shippingTotal__grand {
  text-align: right;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 22px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 17px;
}

.shippingTotal button {
  width: 100%;
  background-color: #f16d7f;
  padding: 20px 38px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
